.contactsTable {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  overflow: scroll;
  font-size: 12px;
}

.contactsTable__wrapper {
  border-collapse: collapse;
  min-width: 1180px
}

.contactsTable__row {
  border-bottom: 1px solid lightgrey;
}

.contactsTable__avatar {
  position: sticky;
  left: 0;
  padding: 0;
}

.contactsTable__cursor-area {
  cursor: pointer;
}

.contactsTable__headers {
  float: left;
  width: 100%;
  max-height: 16px;
  margin-right: 10px;
  padding: 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
}

.contactsTable__headers--clickable {
  float: left;
  width: 70px;
  max-height: 16px;
  padding: 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
}

.contactsTable__headers--clickable:hover {
  background-color: #fafafa;
}

.contactsTable__arrow-up--active,
.contactsTable__arrow-down--active {
  color: #1890ff;
}

.contactsTable__arrow-down {
  transform: rotate(180deg);
}

.contactsTable__headers--center {
  float: left;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
  max-height: 16px;
  background-color: #fff;
  width: 100%;
}