.contact-row {
  max-height: 80px;
  border-bottom: 1px solid lightgrey;
  transition: background-color 0.2s;
}

.contact-row:hover {
  background-color: #fafafa;
}

.contact-row:hover > .contact-row__header {
  background-color: #fafafa;
}

.contact-row__image {
  position: sticky;
  left: -10px;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.contact-row__header {
  position: sticky;
  left: 0;
  padding: 0;
  background-color: #fff;
  transition: background-color 0.2s;

}

.contact-row__name {
  display: block;
  width: max-content;
  cursor: pointer;
  color: #1890ff;
}

.contact-row__location,
.contact-row__tel {
  display: block;
  width: max-content;
}

.contact-row__age {
  display: block;
  width: max-content;
  margin-right: 10px;
}

.contact-row__nationality {
  display: block;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px 5px;
  width: max-content;
  background-color: lightgoldenrodyellow;
}