.dropdown {
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  width: stretch;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown__link {
  display: block;
  padding: 8px 16px;
  border-bottom: 1px solid #e6f7ff;
  color: black;
  text-decoration: none;
  text-align: start;
  transition: color 0.2s
}

.dropdown__link:hover {
  color: #1890ff;
}

.dropdown__icon {
  vertical-align: -0.15em;
  padding-right: 10px;
}

@media screen and (max-width: 560px) {
  .dropdown__icon {
    margin-left: 10px;
  }
}