/* .login {

} */

.login__popup {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgba(200, 200, 200, .7);
  opacity: 1;
}

.login__popup--hidden {
  display: none;
  visibility: hidden;
  top: -100vh;
  opacity: 0;
}

.login__popup-wrapper {
  width: 520px;
  border-radius: 3px;
  text-align: left;
  background-color: #fff;
}

.login__header {
  padding: 16px 24px;
}

.login__icon {
  margin-right: 5px;
  vertical-align: middle;
}

.login__button {
  padding: 3px 2px;
  color: #1890ff;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: transparent;
}