.profile {
  padding-top: 30px;
}

.profile__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 560px;
  border-radius: 8px;
  overflow: hidden;
}

.profile__title {
  text-align: center;
  margin: 0;
}

.profile__foto {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.profile__text-area {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 360px;
}

.profile__link {
  text-decoration: none;
}

.profile__nationality {
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px 5px;
  width: max-content;
  background-color: lightgoldenrodyellow;
}

.profile__button {
  margin: 0 auto;
  width: 120px;
  height: 25px;
  display: block;
  background-color: #1890ff;
  border-radius: 4px;
  margin-top: 40px;
  transition: transform 0.2s, opacity 0.7s cubic-bezier(.22,1.88,0,-1.04)
} 

.profile__button:hover {
  transform: scale(1.05);
}

.profile__button:active {
  opacity: 0.5;
}
