.user-profile {
  display: block;
  margin: auto;
  /* height: 100vh; */
}

.user-profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 320px;
  height: 520px;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.user-profile__title {
  text-align: center;
  margin: 0;
}

.user-profile__foto {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.user-profile__text-area {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-profile__link {
  text-decoration: none;
}

.user-profile__nationality {
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px 5px;
  width: max-content;
  background-color: lightgoldenrodyellow;
}
