.user-dashboard__wrapper {
  display: flex;
  position: relative;
  align-items: center;
  width: max-content;
  cursor: pointer;
  transition: color 0.1s;
}

.user-dashboard__image {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 50%;
}

.user-dashboard__text {
  font-size: 16px;
  padding-right: 5px;
}

.user-dashboard__wrapper:hover .user-dashboard__dropdown {
  top: 100%;
}

.user-dashboard__wrapper:hover{
  color: #1890ff;
}

.user-dashboard__arrow {
  width: 16px;
  height: 16px;
  transform: translateY(-0.2em);
}

.user-dashboard__dropdown {
  font-size: 16px;
}