.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.contacts__search-bar {
  display: flex;
  width: 100%;
  margin-bottom: 0 auto 10px;
}

.contacts__pagination {
  margin: 0 auto 60px;
  max-width: max-content;
}

.contacts__loading {
  display: grid;
  place-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  opacity: 0.8;
  width: 100vw;
  overflow: scroll;
  height: 100%;
  min-height: 100vh;
  background-color: lightgrey;
  z-index: 1;
}

.contacts__loader {
  display: inline-block;
  width: 300px;
  /* margin: 200px auto; */
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }