.contact {
  width: 320px;
  margin: 10px;
  padding-bottom: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.2s, transform 0.2s;
}

.contact:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 5px -3px 29px -6px rgba(0,0,0,0.91);
  -moz-box-shadow: 5px -3px 29px -6px rgba(0,0,0,0.91);
  box-shadow: 5px -3px 29px -6px rgba(0,0,0,0.91);
}

.contact__foto {
  width: 100%;
  height: 65%;
}

.contact__text-area {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.contact__link {
  text-decoration: none;
}

.contact__nationality {
  margin: 5px 0 10px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px 5px;
  width: max-content;
  background-color: lightgoldenrodyellow;
}
